<% if resource.errors.any? %>
  <div class="col-lg-8 alert alert-danger alert-dismissible fade show ms-4 me-4">
    <h4>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase) %>
    </h4>
    <ul>
      <% resource.errors.each do |message| %>
        <li><%= message.full_message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end %>
