<% flash.each do |type, message| %>
  <div class="col-lg-6 alert alert-info alert-dismissible fade show ms-4 me-4" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end %>
