<h1 class="ms-4 me-4">События</h1>

<div class="buffer-both ms-4 me-4">
  <%= link_to "Создать событие", new_event_path, class: "btn btn-success" %>
</div>

<div class="row ps-4 pe-4">
  <%= render partial: "events/event", collection: @events %>
</div>
